*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Claves de firma
keystore.properties
*.jks
# Ignorar artefactos de build y releases
*.aab
*.apk
/app/release/
/app/build/
.idea
/.idea
/.stfolder
build-and-install.ps1
.stignore