<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joasasso.minitoolbox">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="MiniToolbox"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.MiniToolbox"
        android:enableOnBackInvokedCallback="true">

        <!-- Actividad principal -->
        <activity
            android:name="com.joasasso.minitoolbox.MainActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Servicio Pomodoro -->
        <service
            android:name="com.joasasso.minitoolbox.tools.organizacion.pomodoro.PomodoroService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <!-- Receiver para recordatorio de agua -->
        <receiver
            android:name="com.joasasso.minitoolbox.tools.organizacion.recordatorios.agua.WaterReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".tools.organizacion.recordatorios.agua.ResetAguaReceiver"
            android:exported="false" />

        <!-- Widget de agua -->
        <receiver
            android:name="com.joasasso.minitoolbox.widgets.AguaWidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/agua_widget_info" />
        </receiver>
        <!-- Mini widget de agua -->
        <receiver
            android:name=".widgets.AguaMiniWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/agua_mini_widget_info" />
        </receiver>
        <!-- Widget de tools favoritas -->
        <receiver
            android:name=".widgets.FavoriteToolsWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shortcuts_widget" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
