<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joasasso.minitoolbox">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false"/>
    <uses-feature android:glEsVersion="0x00030000" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".utils.MiniToolboxApp"
        android:label="MiniToolbox"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.MiniToolbox"
        android:enableOnBackInvokedCallback="true">

        <!-- Actividad principal -->
        <activity
            android:name="com.joasasso.minitoolbox.MainActivity"
            android:enableOnBackInvokedCallback="true"  
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Metadata para Admob-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <!-- Receiver para recordatorio de agua -->
        <receiver
            android:name="com.joasasso.minitoolbox.tools.organizacion.recordatorios.agua.WaterReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".tools.organizacion.recordatorios.agua.ResetAguaReceiver"
            android:exported="false" />

        <!-- Widget de agua -->
        <receiver
            android:name="com.joasasso.minitoolbox.widgets.AguaWidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/agua_widget_info" />
        </receiver>
        <!-- Mini widget de agua -->
        <receiver
            android:name=".widgets.AguaMiniWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/agua_mini_widget_info" />
        </receiver>
        <!-- Widget de tools favoritas -->
        <receiver
            android:name=".widgets.FavoriteToolsWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shortcuts_widget" />
        </receiver>
        <!--Mini widget de linterna-->
        <receiver
            android:name=".widgets.FlashToggleWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/minimal_flashlight_widget_info" />
        </receiver>

        <!--Widget de linterna-->

        <receiver
            android:name=".widgets.FlashQuickWidgetReceiver"
        android:exported="true">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/flashlight_widget_info" />
        </receiver>

        <receiver
            android:name=".tools.organizacion.pomodoro.PomodoroAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".tools.organizacion.pomodoro.PomodoroActionReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

    </application>
</manifest>
